@import "tailwindcss";
@theme {
  --color-surface: #FAFAF8;
  --color-tile: #F0EDEB;
  --color-ink: #1a1917;
  --color-ink-light: #3a3836;
  --color-accent: #E64E03;
  --color-accent-light: #F9A66C;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-ink);
  font-family: ui-sans-serif, system-ui, sans-serif;
}
